*{
    // background: #242428;
    font-family: Poppins,Arial;
    color: #fff;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 300;
    padding: 0;
    margin: 0;
    -webkit-text-size-adjust: none;
}
.container{
    max-width: 100%;
}
.main-container {
    // height: 100vh;
    // background-color: #202125;
    width: 100%;
    padding: 0;
    margin-top: 0;
    background-color: #242428;
    .main-nav {
        background-color: #202125;
        padding-top: 2.5%;
        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            // margin: 0;
            padding-left: 11%;
            gap:2%;
            // top:10%;
            max-width: 100%;
        }

        a {
            list-style: none;
            height: 60px;
            line-height: 60px;
            display: block;
            margin: 0;
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 1px;
        }
    }
    .main-banner {
        background-image: linear-gradient(180deg,#202125 0,rgba(32,33,37,0) 64%),
            url('../../Assets/zoro-bg.jpg');
            max-width: 100%;
        .main-content{
            position: fixed;
            top: 35%;
            left: 11%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .logo{
                max-width: 100%;
                height: 64px;
                aspect-ratio: 23/9;
            }
            .main-input{
                // width:75%;
                input{
                    margin: 1%;
                    height: 9vh;
                    font-weight: 400;
                    border-radius: 30px;
                    padding-left: 20px;
                    padding-right: 300px;
                    font-size: 16px;
                    border: none!important;
                }
                button{
                    height: 50px;
                    text-align: center;
                    margin-left: 2px;
                    cursor: pointer;
                    display: inline-block;
                    width: 50px;
                    background: #cae962;
                    border-radius: 30px;
                    border: none;
                }
            }
            .main-ts{
                color:white;
                width: 600px;


                a:hover{
                    color: #cae962;
                    transition: all .3s ease-in-out;
                    
                }
                a{
                    color: #aaa;
                    font-weight: light;  
                                  
                }
            }
        }
        .zoro{
            position: relative;
            border: 0px;
            left: 50%;
            aspect-ratio: 11/9;
            max-width: 100%;
            height: 490px;
        }       
    }  
    .strip{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;
        gap: 1%;
        background-color: #cae962;
        width: 80%;
        color:black!important;
        border-radius: 0px 0px 30px 30px;
        cursor: pointer;
        // max-height: 
        // FaArrowRightLong{
        // width: 2em;
        height: 3em;
        // }
    }

}
.socialConnect{
    position: relative;
    background-color: #242428;
}