* {
    // background: #202125;
    font-family: Montserrat, Arial;
    color: #fff;
    font-size: 14px;
    line-height: 1.3em;
    font-weight: 400;
    padding: 0;
    margin: 0;
    -webkit-text-size-adjust: none;
}

.main-home {
    background-color: #202125;
    // width: 100%;
    position: relative;
    top: -72px;
    height: fit-content;
    // background: linear-gradient(360deg, #000000 0, rgba(18, 18, 21, 0.8) 90%, );

    .trending-content {
        padding: 10px 0 0 10px;
        max-width: 100%;
        // position: relative;
        // top: -72px;
        background: linear-gradient(360deg, #000000 0, rgba(18, 18, 21, 0.8) 90%, );


        .itemCard {
            display: flex;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            gap: 10px;
        }
    }

    .trending-head {
        font-size: 22px !important;
        line-height: 40px;
        font-weight: 600;
        padding: 0;
        margin: 0;
        color: #cae962;
    }

    .trendingItem {
        height: auto;
        width: 16.6666666667%;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        // padding-bottom: ;
        position: relative;
        display: inline-block;
        overflow: hidden;

    }

    .sliderItemHeading {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 6px;
        overflow: hidden;
        width: 40px;
        text-align: center;
        font-weight: 600;
        cursor: pointer;
        background: #4a4b51;
        background: linear-gradient(360deg, #000000 0, rgba(74, 75, 81, 0.948) 100%);
        display: flex;
        flex-flow: column-reverse;

        .sliderItemCount {
            position: absolute;
            bottom: 0;
            font-size: 24px;
            line-height: 1em;
            text-align: center;
            color: #cae962;
            z-index: 9;
            left: 0;
            right: 0;
        }

        .sliderItemHead {
            width: 100px;
            text-align: left;
            height: 40px;
            transform: rotate(-90deg);
            position: absolute;
            bottom: 100px;
            width: 150px;
            line-height: 40px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            left: -55px;
            font-size: 14px;
            font-weight: 400;
        }
    }

    .itemImg01 {
        // position: absolute;
        max-width: 100%;
        height: 250px;
        aspect-ratio: 9/11;
        -o-object-fit: cover;
        object-fit: cover;
        // top: 0;
        // left: 0;
        // right: 0;
        // bottom: 0;
    }

    .row {
        margin: 30px 20px 0 20px;
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    .section04 {
        margin: 50px 20px;

        .recently-updated {

            .recentHeadSection {
                display: flex;
                gap: 20px;

                .heading {
                    font-size: 22px !important;
                    line-height: 40px;
                    font-weight: 600;
                    padding: 0;
                    margin: 0;
                    color: #cae962;
                    display: inline-block;
                }
            }
        }

        .tags {
            // display: flex;
            // justify-content: start;
            // @media (min-width: 768px) {
            //     justify-content: center;
            // }
            // margin-bottom: 50px;
            // overflow: auto;

            .tag {
                display: inline-block;
                /* Tag styles */
                background-color: #424141;
                padding: 7px 13px;
                font-size: 16px;
                line-height: 24px;
                cursor: pointer;
                white-space: nowrap;
                border: none;
                border-radius: 0;
                font-size: 13px;
                font-weight: 500;
                line-height: 34px;
                padding: 0 12px;
            }

            .tag.selected {
                background-color: #EFB946;
                color: black;
            }

            .tag:first-child {
                border-radius: 10px 0 0 10px;
            }

            .tag:last-child {
                border-radius: 0 10px 10px 0;
            }
        }

        .recently-updated{
            max-width: 78%;

        }
        .recentgrid {
            display: grid;
                gap: 2rem;
                align-items: start;
                grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
                margin-top: 20px;
                
            
            .gridItem {
                display: inline-block;
                // border: 2px solid white
                background-color: #383839;
                max-width: fit-content;
                border-radius: 3px;
                img {
                    height: 250px;
                    aspect-ratio: 9/12;
                    object-fit: cover;
                    background-color: lin
                    
                }
                img::after{
                    content: "";
                    position: absolute;
                    top: 40%;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 2;
                    background: #2a2c31;
                    background: linear-gradient(0deg,#2a2c31 0,rgba(42,44,49,0) 76%);
                }

                .head {
                    font-size: 14px;
                    line-height: 1.3em;
                    margin: 0;
                    font-weight: 500;
                    margin-bottom: 10px;
                    height: 37px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    // // overflow: hidden;
                    a {
                        color: #fff;
                        text-decoration: none !important;
                        outline: 0;
                        -moz-outline: none;
                    }
                }
                .tv,.date{
                    color: rgb(128, 127, 127);
                }


                .itemContent {
                    color: #aaa;
                    font-size: 12px;
                    padding: 0 10px;
                    border-radius: 0 0 10px 10px;
                    min-height: 84px;
                    width: 14em;
                }
                .dot{
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background: rgba(255,255,255,.3);
                    display: inline-block;
                    margin: 3px 6px;
                }
            }
        }
        // .genresSection{
        //     // position: absolute;
        //     // top: ;
        // }
    }
    .section04{
        
    }

}